<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define Binaries="$(var.SolutionDir)$(var.Platform)\$(var.Configuration)" ?>
  <?define Version="1.0.4.0"?>
  
  <?if $(var.Platform)=x64 ?>
  <?define Win64YesNo="yes" ?>
  <?define UpgradeCode = "{3B19F747-0488-4ebf-B7E0-0E7EBE36CA9D}" ?>
  <?define cf="ProgramFiles64Folder" ?>
  <?else ?>
  <?define Win64YesNo="no" ?>
  <?define UpgradeCode = "{2FDC7389-B149-4aab-B803-05A7BADAC008}" ?>
  <?define cf="ProgramFilesFolder" ?>
  <?endif ?>
  
  <Product Id="*" 
           Name="Visio ShapeSheetWatch Addin $(var.Version) ($(var.Platform))" 
           Language="1033" 
           Codepage="1252"
           Version="$(var.Version)" 
           Manufacturer="Unmanaged Visio" 
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallPrivileges="elevated" 
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             />

    <Property Id="MSIFASTINSTALL">1</Property>
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.cf)">
        <Directory Id="COMPANYDIR" Name="UnmanagedVisio" >
          <Directory Id="PRODUCTDIR" Name="ShapeSheetWatch">

            <Component Id="HTMLayoutDLL" Win64="$(var.Win64YesNo)">
              <File KeyPath="yes" Source="lib\$(var.Platform)\htmlayout.dll" />
            </Component>
            <Component Id="ProductComponent" Win64="$(var.Win64YesNo)">
              <File KeyPath="yes" Source="$(var.Binaries)\Addin.dll" >
                <TypeLib Id="{03AB8311-3616-4692-A9BE-447DD0F3F6DF}" Description="ShapeSheetWatch Addin 1.0 Type Library" HelpDirectory="TARGETDIR" Language="0" MajorVersion="1" MinorVersion="0">
                  <Class Id="{46288C2D-7FDA-4f64-91C3-17BD6773640D}" Context="InprocServer32" Description="VisioConnect Class" ThreadingModel="apartment" Programmable="yes">
                    <ProgId Id="ShapeSheetWatchAddin.VisioConnect.1" Description="VisioConnect Class">
                      <ProgId Id="ShapeSheetWatchAddin.VisioConnect" Description="VisioConnect Class" />
                    </ProgId>
                  </Class>
                  <Interface Id="{07B14CAE-D68A-4f09-AE0E-74DE3B9399CF}" Name="ICallbackInterface" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
                </TypeLib>
              </File>
            </Component>

            <Component Id="VisioRegistration" Win64="$(var.Win64YesNo)" >
              <RegistryKey Root="HKLM" Key="Software\Microsoft\Visio\Addins\ShapeSheetWatchAddin.VisioConnect" >
                <RegistryValue Name="CommandLineSafe" Type="integer" Value="0" />
                <RegistryValue Name="FriendlyName" Type="string" Value="ShapeSheetWatchAddin" KeyPath="yes" />
                <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
                <RegistryValue Name="InstallPath" Type="string" Value="[PRODUCTDIR]" />
              </RegistryKey>
            </Component>

            <Directory Id="HTML" Name="html" FileSource="..\Data\html">
              <Component Id="test.htm">
                <File Name="test.htm" />
              </Component>
              <Component Id="settings.png">
                <File Name="settings.png" />
              </Component>
            </Directory>

          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature Id="ProductFeature" Title="ShapeSheetWatch Addin" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="HTMLayoutDLL" />
      <ComponentRef Id="VisioRegistration" />

      <ComponentRef Id="test.htm"/>
      <ComponentRef Id="settings.png"/>
    </Feature>

    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp"/>

    <UI>
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="SimpleWelcomeEulaDlg" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SimpleWelcomeEulaDlg">1</Publish>
      <Publish Dialog="SimpleWelcomeEulaDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />

    <Icon Id="AddinIcon.ico" SourceFile="AddinIcon.ico" />

    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="AddinIcon.ico" />
    
  </Product>
</Wix>
